doctype html
html(lang='en')

  head

    meta(charset='utf-8')

    title Talks by Luke Karrys

    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    meta(name='description', content='Talks by Luke Karrys')
    meta(name='keywords', content='')
    meta(name='author', content='Luke Karrys')

    link(rel='stylesheet', href='/css/main' + (env === 'production' ? '.min' : '') + '.css')

  body
    nav.navbar.navbar-inverse
      .container
        .navbar-header
          a.navbar-brand(href='/') Talks

    .container
      block content
