doctype html
html(lang='en')

  head

    meta(charset='utf-8')

    title Talks by Luke Karrys

    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    meta(name='description', content='Talks by Luke Karrys')
    meta(name='keywords', content='')
    meta(name='author', content='Luke Karrys')

    link(rel='stylesheet', href='/css/main' + (env === 'production' ? '.min' : '') + '.css')

  body
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          a.navbar-brand(href='/') Talks

    .container
      block content

    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','XXXXXXXXXXXX','auto');ga('send','pageview');
