extends ./_layout.jade
include ./_talk.jade

block content
  +talk({title: 'Building Native Web Applications Training', location: 'Fluentconf 2015', links: [{name: 'Detail', link: 'http://fluentconf.com/javascript-html-2015/public/content/native-web-application'}]})
    | A training at <a href='http://fluentconf.com/javascript-html-2015/public/schedule/grid/public'>FluentConf 2015</a> on building a modern, well-structured application from scratch by combining best-of breed approaches and a carefully curated set of tools like React, ES2015, Webpack, Node, and Ampersand. We built an <a href='https://github.com/HenrikJoreteg/labelr'>app</a>.
