extends ./_layout.jade
include _talk.jade

block content
  .page-header
    h2
      | A list of talks I've given 
      small
        | — By 
        a(href='http://lukekarrys.com') Luke

  .list-group
    for talk, talkId in talks
      +talk_item(Object.assign({link: talkId}, talk))
        | !{talk.title}
