extends ./_layout.jade

block content
  .list-group
    a.list-group-item(href='/fluentconf-native-web-apps-training.html') Native Web Apps Training (FluentConf 2015)
    a.list-group-item(href='/jsla-ampersandjs-a-non-frameworky-framework.html') Ampersand.js: A Non-Frameworky Framework (JS.la October 2014)
    a.list-group-item(href='/triconf-the-10-most-important-things-ive-learned-ever.html') The 10 Most Important Things I've Learned, Ever (TriConf 2014)
    a.list-group-item(href='/nodesummit-client-solutions-from-development-to-production.html') Client Solutions from Development to Production (Nodesummit 2013)
    a.list-group-item(href='/triconf-passion-and-purpose.html') How To Get Your Dream Job in 5000 Words or Fewer and Live in the Woods and Work on The Internet (TriConf 2013)
    a.list-group-item(href='/triconf-backbone-tips-and-tricks.html') Backbone: Tips &amp; Tricks @ TriConf (TriConf 2013)
    a.list-group-item(href='/phx-tag-soup-html5-history.html') HTML5 History (Phx Tag Soup Meetup October 2011)
    a.list-group-item(href='/meltmedia-js-tips-and-best-practices.html') meltmedia JS Tips and Best Practices (July 2011)
