extends ./_layout.jade
include ./_talk.jade

block content
  +talk({title: 'Ampersand.js: A Non-Frameworky Framework', location: 'JS.la October 2014', links: [{name: 'Slides', link: 'http://lukekarrys.github.io/ampersand-jsla'}, {name: 'Video', link: 'https://vimeo.com/111015781'}]})
    | A talk at the <a href='http://js.la'>js.la meetup</a> about the <a href='http://ampersandjs.com'>Ampersand.js</a> "framework".
