extends ./_layout.jade
include ./_talk.jade

block content
  +talk({title: 'JS Tips and Best Practices', location: 'meltmedia July 2011', links: [{name: 'Slides', link: '/mm-beginning-js-072111'}]})
    | I gave this talk at a meltmedia monthly front-end meeting about our internal projects and how to structure JS modules for marketing sites.
