extends ./_layout.jade
include ./_talk.jade

block content
  +talk({title: 'Client Solutions from Development to Production', location: 'Nodesummit 2013', links: [{name: 'Slides', link: 'http://lukekarrys.github.io/nodesummit'}, {name: 'Video', link: 'https://vimeo.com/93090402'}]})
    | A talk at <a href="http://nodesummit.com">NodeSummit 2013</a> about using Node for solutions in development and production environments.
