extends ./_layout.jade
include ./_talk.jade

block content
  +talk({title: 'HTML5 History', location: 'Phx Tag Soup October 2011', links: [{name: 'Slides', link: '/html5-history-102711'}]})
    | I gave this talk at Phx Tag Soup on October 27, 2011 about my recent experience with the HTML5 history API and possible pitfalls and solutions.
