extends ./_layout.jade
include ./_talk.jade

block content
  +talk({title: 'The 10 Most Important Things I\'ve Learned, Ever', location: 'TriConf 2014', links: [{name: 'Slides', link: '/10-important-things-071913/slides.pdf'}, {name: 'Video', link: 'https://vimeo.com/album/3035784/video/105363841'}]})
    | A talk at <a href="http://triconf.com">TriConf 2014</a> about the most important things I've ever learned.
