extends ./_layout.jade
include ./_talk.jade

block content
  +talk({title: 'Backbone: Tips &amp; Tricks', location: 'TriConf 2013', links: [{name: 'Slides', link: '/backbone-071813'}, {name: 'Video', link: 'https://vimeo.com/70679706'}]})
    | A talk at <a href="http://triconf.com">TriConf 2013</a> about Tips and Tricks in Backbone and ways to make it less cumbersome in web apps.
