extends ./_layout.jade
include ./_talk.jade

block content
  +talk({title: 'How To Get Your Dream Job in 5000 Words or Fewer and Live in the Woods and Work on The Internet', location: 'TriConf 2013', links: [{name: 'Slides', link: 'https://speakerdeck.com/lukekarrys/how-to-get-your-dream-job-in-5000-words-or-fewer-and-live-in-the-woods-and-work-on-the-internet'}, {name: 'Blog', link: 'http://lukelov.es/articles/passion-and-purpose'}, {name: 'PDF', link: '/passion-072013/slides.pdf'}, {name: 'Video', link: 'https://vimeo.com/70900013'}]})
    | A talk at <a href="http://triconf.com">TriConf 2013</a> about passion and purpose.
